@{
    ViewBag.Title = "Forgot Password";
}
<h2>Password Recovery</h2>
<p>Enter your email to reset password.</p>
<input class="form-control" placeholder="Email" />
<button class="btn btn-secondary mt-3">Send Link</button>
