@{
    ViewBag.Title = "Gradebook";
}
<h2>Grades</h2>
<table class="table table-bordered">
    <thead><tr><th>Course</th><th>Grade</th></tr></thead>
    <tbody>
        <tr><td>CS101</td><td>A</td></tr>
        <tr><td>MATH202</td><td>B+</td></tr>
    </tbody>
</table>
